snippet header
	/*
	 * ${1:Hello World program in C}
	 */

	#include <stdio.h>

	main()
	{
		${2:printf("Welcom to the Joy of C!\n");}
		retrun 0;
	}
	$0

snippet //
	/* ${1:} */
	$0


snippet dbl
	double	${1};
	$0

snippet int
	int	${1};
	$0

snippet prf
	printf("${1:static text}", ${2:var});
	$0

